.page_movies_by_genre {
    margin-left: 250px;
    color: #fff;
}

.movies_by_genre {
    display: flex;
    flex-wrap: wrap;
}

/*.genres_movies_page_clicker {*/
/*    margin: 50px 0;*/
/*}*/

/*.genres_movies_page_clicker .page_number {*/
/*    font-size: 21px;*/
/*    margin: 15px;*/
/*}*/

.genres_movies_page_clicker button {
    font-size: 21px;
    padding: 10px;
    background: none;
    border: 3px solid #840606;
    color: #fff;
    cursor: pointer;
    transition: 400ms;
}

.genres_movies_page_clicker button:hover {
    border: 3px solid #fff;
}