.genres {
    margin: 50px 250px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.genre_item {
    display: block;
    color: #fff;
    font-size: 27px;
    text-decoration: none;
    transition: 400ms;
    padding: 8px;
}

.genre_item:hover {
    color: #840606;
    background: #fff;
}

