
.page {
    display: flex;
}

.comments {
    width: 40%;
    border-left: 5px solid #99d030;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.current_comment {
    width: 60%;
}
