
.post_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.post_details h2 {
    text-align: center;
}

.number_first, .number_second {
    font-size: 90px;
    font-weight: 700;
}

.number_first {
    color: lightgray;
}

.number_second {
    position: relative;
    right: 35px;
    top: 5px;
    color: #99d030;
}