.movie_card_light {
    width: 30%;
    margin: 1.5%;
}

.movie_card_light a {
    text-decoration: none;
    color: #fff;
}

.movie_card_light a h5 {
    margin: 7px 0;
}

.movie_card_light img {
    border: 2px solid #840606;
    box-sizing: border-box;
    transition: 400ms;
}

.movie_card_light img:hover {
    border: 2px solid #fff;
}

.fa-star {
    color: #fff;
    font-size: 18px;
}