.page {
    margin-left: 250px;
    color: #fff;
}

.header {
    margin: 40px 0 0 0;
}

.label {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 50px;
}

.movies_cards {
    display: flex;
    flex-wrap: wrap;
}

.page_clicker {
    margin: 50px 0;
}

.page_clicker .page_number {
    font-size: 21px;
    margin: 15px;
}

.clicker_button {
    font-size: 21px;
    padding: 10px;
    background: none;
    border: 3px solid #840606;
    color: #fff;
    cursor: pointer;
    transition: 400ms;
}

.clicker_button:hover {
    border: 3px solid #fff;
}

.clicker_button_light:hover {
    border: 3px solid #840606;
}