h1 {
    margin: 20px 40px;
}

button {
    font-size: 21px;
    padding: 9px;
    margin: 10px 20px;
    cursor: pointer;
}

.button_1 {
    background: #84f686;
}

.button_2 {
    background: #ff9292;
}