
html {
    scroll-behavior: smooth;
}

.App {
    min-height: 1500px;
}

.links .link {
    display: block;
    text-decoration: none;
    color: #eaeaea;
    font-size: 70px;
    font-weight: 700;
    padding: 15px;
    transition: 500ms;
}

.links .link:nth-child(2n) {
    display: flex;
    justify-content: flex-end;
}

.second_word {
    text-align: right;
    margin: 0 20px;
}

#link_1:hover {
    background: #93e21b;
    color: #fff;
}

#link_2:hover {
    background: #e5ff0c;
    color: #fff;
}

#link_3:hover {
    background: #f8702b;
    color: #fff;
}

#link_4:hover {
    background: #e83333;
    color: #fff;
}